.main-header-content{
    position: absolute;
    top: 0;
    background-color: #dad8d877;
    width: 70vw;
    min-width: 300px;
    
    border-bottom: rgba(0,0,0,0.2) solid 1px;

    height: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header-content .user-date-content{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-header-content .user-date-content img{
    width: 45px;
    height: 45px;

    margin: 0 20px;

    border-radius: 50%;
    object-fit: cover;
}
.main-header-content .user-date-content h3{
    color: rgba(0,0,0,0.6);
    font-size: 20px;
} 
.main-header-content .user-date-content span{
    color: rgba(0,0,0,0.6);
}
.main-header-content .icons-header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header-content .icons-header-content img{
    width: 20px;
    height: 20px;

    margin: 0 20px;
    cursor: pointer;
    
} 