.container-main{
    position: relative;
    width: 100vw;
}
.other{
    position: absolute;
    top: 0;
    left: -100%;

    z-index: 100;

    width:30%;
    height: 100%;
}
.other.active{
    transition: all 1s;
    left: 0;
}
.other .perfil{
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
}
.other.active .perfil.active{
    opacity: 1;    
    width: 100%;
    height: 96%;

    z-index: 101;
    left: 0;
}
.other.active .perfil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.other.active .perfil .cabecalho-menu-icon{
    background-color: teal;
    height: 100px;
    width: 100%;

    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.other.active .perfil .cabecalho-menu-icon img{
    width: 20px;
    height: 20px;

    margin: 0 10px;
    object-fit: cover;
}
.other.active .perfil .cabecalho-menu-icon span{
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 5px 5px 4px rgba(255,255,255,0.2);
    font-size: 30px;
}
.other.active .perfil .body-perfil-menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #c0b5b5;
    width: 100%;
    height: 100%;


} 
.other.active .perfil .body-perfil-menu-icon .foto-perfil{
    margin-top: 20px;
    position: relative;
}
.other.active .perfil .body-perfil-menu-icon .foto-perfil .content,
.other.active .perfil .body-perfil-menu-icon .foto-perfil img{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}
.other.active .perfil .body-perfil-menu-icon .foto-perfil .input-file{
    display: none;
}
.other.active .perfil .body-perfil-menu-icon .foto-perfil .content{
    position:absolute;
    top: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.8);    
    
    opacity: 0;
}
.other.active .perfil .body-perfil-menu-icon .foto-perfil:hover .content{
    opacity: 1;    
}
.other.active .perfil .body-perfil-menu-icon .foto-perfil .content img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.8);
}
.other.active .perfil .body-perfil-menu-icon .foto-perfil img{
    object-fit: cover;
}
.other.active .perfil .body-perfil-menu-icon .inputs-area{
    width: 100%;
}
.other.active .perfil .body-perfil-menu-icon .inputs-area div{
    padding: 10px;
    background-color: rgba(255,255,255,1);
    margin: 20px 0;
}
.other.active .perfil .body-perfil-menu-icon .inputs-area div label{
    color: teal;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
    letter-spacing: 1px;
}
.other.active .perfil .body-perfil-menu-icon .inputs-area div div{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent ;
    padding: 0;
}
.other.active .perfil .body-perfil-menu-icon .inputs-area div div input{
    width: 90%;
    padding: 10px;
    border: none;
    
    border-bottom: 2px solid seagreen;

}
.other.active .perfil .body-perfil-menu-icon .inputs-area div div img{
    margin-left: 5px;
    width: 20px;
    height: 20px;
} 