*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .opacity{
    opacity: 1;
    transition: opacity 1s;
  }
  