.container-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    height: 60vh;
    max-height: 800px;
    width: 80vw;
    min-width: 300px;
    max-width: 600px;

    background: linear-gradient(to bottom,#FF512F,#DD2476);

    border-radius: 20px;
}
.container-login h2{
    color: #fff;
}
.container-login input{
    width: 80%;
    max-width: 90%;

    padding: 10px;
    border-radius: 20px;
    border: none;

    background-color: rgba(255,255,255,0.8);
}
.container-login button{
    width: 20vw;
    min-width: 200px;

    background-color: rgba(255, 255, 255, 0.8);

    border: none;

    padding: 10px 20px;
    border-radius: 20px;
}
.container-login button:hover{
    transition: all 1s;
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
.login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-buttons .button-a{
    color: #fff ;
    font-weight: bold;
    margin-top: 5px;

    background-color: transparent;
    border: none;
} 