.content-content .mensage-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 70vw;
    min-width: 280px;

    max-height: calc(100vh - 125px);

    overflow-y: auto;
    box-sizing: content-box;

    z-index: 2;
}
