.content-content,
.content-content img.background{
    width: 70vw;
    min-width: 300px;

    height: calc(100vh - 55px);
}
.content-content{
    position: relative;
}
.content-content img.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


