.content-content .keyboard-chat{
    position: absolute;
    bottom: 0;
    z-index: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #dad8d8;

    width: 70vw;
    min-width: 300px;
    min-height: 60px;
} 
.content-content .keyboard-chat img{
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    padding: 5px;

    border-radius: 40%;

    object-fit: cover;
}
.content-content .keyboard-chat img:hover{
    background-color: rgba(112, 128, 144, 0.418);
}
.content-content .keyboard-chat input{
    width: 60vw;
    min-width: 200px;

    min-height: 50px;
    padding: 0 10px;

    font-size: 1.2em;

    border: none;
    border-radius: 20px;
}